







<h1 class="container 
           mx-auto
           text-white 
           text-center
           bg-indigo-500         
           shadow-lg 
           shadow-indigo-500
           rounded-md m-4">Welcome to About US page</h1>

<main class="flex flex-col p-5 items-center">


    <div class="flex shadow-lg p-5 items-center">

        <div class="shadow-lg p-10">Mohammed Ali</div>
        <div class="shadow-lg p-10">Angel Armendariz</div>

    </div>

    <div class="flex shadow-lg p-5 items-center">

        <div class="shadow-lg p-10">William Ye</div>
        <div class="shadow-lg p-10">Jacky Cai</div>

    </div>



</main>