<main>
    <h1 class=" container 
                mx-auto
                text-white 
                text-xl
                text-center
                bg-indigo-500    
                shadow-lg 
                shadow-indigo-500
                p-3
                rounded-md m-4">Welcome to the Calendar</h1>

  <div class="container 
  mx-auto
  text-white 
  text-center
  bg-indigo-500  
  shadow-lg 
  shadow-indigo-5
  rounded-md m-4"></div>
<div class="container 
  mx-auto
  text-white 
  text-center
  bg-indigo-500  
  shadow-lg 
  shadow-indigo-5
  rounded-md m-4"></div>

<div class="flex flex-col p-6">

    <div class="flex space-x-6 self-end">

    <a class="transition 
              ease-in-out 
              delay-150 
              hover:-translate-y-1
              hover:scale-110 
              hover:bg-indigo-500 
              duration-300 
              text-white 
              bg-gray-500 
              shadow-lg 
              shadow-indigo-500/50 p-3 " href="">PREVIOUS</a>
    
              <a class="transition 
                        ease-in-out 
                        delay-150 
                        hover:-translate-y-1
                        hover:scale-110 
                        hover:bg-indigo-500 
                        duration-300 
                        text-white 
                        bg-gray-500 
                        shadow-lg 
                        shadow-indigo-500/50 p-3 " href="">NEXT</a>

    </div>

    <div class="items-end flex flex-wrap justify-center space-x-6 space-y-6 h-auto w-screen">

	<div class="shadow-lg bg-white w-60 h-96 p-5">
        
        <h2>Sunday</h2>




        </div>




	<div class="shadow-lg bg-white w-60 h-96 p-5">Monday</div>
	<div class="shadow-lg bg-white w-60 h-96 p-5">Tuesday</div>
	<div class="shadow-lg bg-white w-60 h-96 p-5">Wednesday</div>
	<div class="shadow-lg bg-white w-60 h-96 p-5">Thursday</div>
	<div class="shadow-lg bg-white w-60 h-96 p-5">Friday</div>
	<div class="shadow-lg bg-white w-60 h-96 p-5">saturday</div>


    </div>


</div>
 
<br><br>

</main>