<main>
  <h1 class=" container
                mx-auto
                text-white
                text-xl
                text-center
                bg-indigo-500
                shadow-lg
                shadow-indigo-500
                p-3
                rounded-md m-4">Home</h1>

  <div></div>

  <iframe
    src="https://www.youtube.com/embed/PwoRpcpEbek"
    class="w-1/3
            h-96
            block
            mx-auto
            border-solid
            border-8
            border-indigo-500
            rounded-md" allowfullscreen>
  </iframe>
  <h2
      class=" text-xl
              text-center
              pt-1">Weekly Calendar Function</h2>
  <p
    class=" text-med
            text-center
            mx-auto
            pt-1
            w-2/6">
          Thank you for taking the time to check out our weekly calendar app!
          This will allow you to list daily tasks for yourself in any month for any year
          since you can set the day numbers yourself for the days of the month.
  </p>
  

</main>
