
<h1 class="container
           mx-auto
           text-white
           text-center
           bg-indigo-500
           shadow-lg
           shadow-indigo-500
           rounded-md m-4">Welcome to my app!</h1>

<ul>
  {{#if currentUser}}

    <li><a href="/{{currentUser.details.username}}">Go to your dashboard</a></li>

  {{else}}

    <li>

      <div class="flex items-center justify-center">

      <a href="/user/signup"
         class="transition
                ease-in-out
                delay-150
                hover:-translate-y-1
                hover:scale-110
                hover:bg-indigo-500
                duration-300
                text-white
                text-center
                bg-cyan-500
                shadow-sm
                shadow-cyan-500
                rounded-md m-4">Sign up for an account</a>
    </div>
    </li>

  {{/if}}
</ul>
