@tailwind base;
@tailwind components;
@tailwind utilities;
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: black;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}