<!doctype html>
  <html lang="en">


<!-- ============================== head and Title part of layout===============================-->



<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Your App</title>


  <link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">


</head>



<!-- =============================================================================================-->

<body class="bg-gray-100">


<!-- HHHHHHHHHHHHHHHHHHHHHHH  this part is the Header HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH-->
<header>




  {{#if currentUser}}

    <nav class="p-6">


      <div class="flex flex-wrap justify-around">

          <a class="transition
                  ease-in-out
                  delay-150
                  hover:-translate-y-1
                  hover:scale-110
                  hover:bg-indigo-500
                  duration-300
                  text-white
                  bg-cyan-500
                  shadow-lg
                  shadow-cyan-500/50
                  p-3
                  rounded-md nav__button" href="/user/aboutus">About US</a>

          <a class="transition
                  ease-in-out
                  delay-150
                  hover:-translate-y-1
                  hover:scale-110
                  hover:bg-indigo-500
                  duration-300
                  text-white
                  bg-cyan-500
                  shadow-lg
                  shadow-cyan-500/50
                  p-3
                  rounded-md nav__button" href="/user/forgot">Forget Password</a>

          <a class="transition
                  ease-in-out
                  delay-150
                  hover:-translate-y-1
                  hover:scale-110
                  hover:bg-indigo-500
                  duration-300
                  text-white
                  bg-cyan-500
                  shadow-lg
                  shadow-cyan-500/50
                  p-3
                  rounded-md nav__button" href="/user/reset">Reset Password</a>

          <a class="transition
                  ease-in-out
                  delay-150
                  hover:-translate-y-1
                  hover:scale-110
                  hover:bg-indigo-500
                  duration-300
                  text-white
                  bg-cyan-500
                  shadow-lg
                  shadow-cyan-500/50
                  p-3
                  rounded-md nav__button" href="/user/logout">Logout</a>

        </div>
    </nav>


  {{else}}



  <nav class="p-6">


      <div class="flex flex-wrap justify-around sticky top-0 pt-1">
        <a class="transition
                  ease-in-out
                  delay-150
                  hover:-translate-y-1
                  hover:scale-110
                  hover:bg-indigo-500
                  duration-300
                  text-white
                  bg-cyan-500
                  shadow-lg
                  shadow-cyan-500/50
                  p-3
                  rounded-md nav__button" href="/index">Home</a>

                  <a class="transition
                  ease-in-out
                  delay-150
                  hover:-translate-y-1
                  hover:scale-110
                  hover:bg-indigo-500
                  duration-300
                  text-white
                  bg-cyan-500
                  shadow-lg
                  shadow-cyan-500/50
                  p-3
                  rounded-md nav__button" href="/app-index">Calendar</a>

          <a class="transition
                    ease-in-out
                    delay-150
                    hover:-translate-y-1
                    hover:scale-110
                    hover:bg-indigo-500
                    duration-300
                    text-white
                    bg-cyan-500
                    shadow-lg
                    shadow-cyan-500/50
                    p-3
                    rounded-md" href="/user/aboutus">About Us</a>

          <a class="transition
                    ease-in-out
                    delay-150
                    hover:-translate-y-1
                    hover:scale-110
                    hover:bg-indigo-500
                    duration-300
                    text-white
                    bg-cyan-500
                    shadow-lg
                    shadow-cyan-500/50
                    p-3
                    rounded-md nav__button" href="/user/signup">Sign Up</a>

          <a class="transition block
                    ease-in-out
                    delay-150
                    hover:-translate-y-1
                    hover:scale-110
                    hover:bg-indigo-500
                    duration-300
                    text-white
                    bg-cyan-500
                    shadow-lg
                    shadow-cyan-500/50
                    rounded-md
                    p-3
                    nav__button" href="/user/login">Log in</a>

                    
        </div>
    </nav>

  {{/if}}

  </header>

<hr>

<!--HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH-->




<!--MMMMMMMMMMMMMMMMMMMMM this part of the lay out act as main -MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-->

<main>

  {{!-- Show errors --}}
  {{#if flashErrors }}
    {{#each flashErrors }}


      <div class="container
                  mx-auto
                  text-white
                  text-center
                  bg-indigo-500
                  shadow-lg
                  shadow-indigo-5
                  rounded-md m-4">{{ this }}</div>


    {{/each}}
  {{/if}}




  {{!-- Show success messages --}}
  {{#if flashSuccesses }}
    {{#each flashSuccesses }}

      <div class="container
                  mx-auto
                  text-white
                  text-center
                  bg-indigo-500
                  shadow-lg
                  shadow-indigo-5
                  rounded-md m-4">{{ this }}</div>

    {{/each}}
  {{/if}}


<!-- ???????????????????????? Do not understand what this code does . think this is also falls in main ?????????????????-->
  {{> yield }}


  {{#if isPageAuthor}}

    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/assets/js/vendor/Sortable.min.js">
    </script>

    <script src="/assets/js/vendor/crostini.min.js">
    </script>

    <script src="/remake/js/remake.min.js">
    </script>

    <script src="/assets/js/remake-init.js">
    </script>

  {{/if}}

    <script src="/assets/js/main.js">
    </script>

<!--  ????????????????????????????????????????????????????????????????????????????????????????????????????????????????-->




</main>

<!--MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-->


<hr>

<!-- FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF-->
<footer>

{{#if currentUser}}
  <nav class="p-6">

    <div class="flex justify-center p-10">

       |&nbsp; <a class="hover:text-blue-300" href="/user/aboutus">About US</a>  &nbsp;|	 	&nbsp;

        <a class="hover:text-blue-300" href="/user/forgot">Forget Password</a>   &nbsp;|	 	&nbsp;

        <a class="hover:text-blue-300" href="/user/reset">Reset Password</a>   &nbsp;|	 	&nbsp;

        <a class="hover:text-blue-300" href="/user/logout">Logout</a>   &nbsp;|
      </div>
  </nav>
{{else}}

<nav class="flex justify-center p-10">

    <div class="">

    |&nbsp;  <a class="hover:text-blue-300 nav__button" href="/user/index">Home</a>  	&nbsp;|	 	&nbsp;

            <a class="hover:text-blue-300" href="/app-index">Calendar</a> 	&nbsp;| 	&nbsp;

            <a class="hover:text-blue-300" href="/aboutus">About Us</a> 	&nbsp;| 	&nbsp;

            <a class="hover:text-blue-300" href="/user/signup">Sign Up</a> 	&nbsp;| 	&nbsp;

            <a class="hover:text-blue-300 nav__button" href="/user/login">Log in</a> 	&nbsp;|
    </div>
    </nav>
    <span>&copy;Copyright 2022</span>
{{/if}}


</footer>
<!-- FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF-->







  </body>

</html>
